In [219]:
%matplotlib inline
import pandas as pd

In [27]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [36]:
%time # %%time shows execution time >> no data shown << %time shows 0ns >> data shown <<

titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None, encoding = 'utf-8') 
titles.head()

Wall time: 0 ns

                                  title  year
223494                          Faerie!  2012
223495  Ruamphon khon luktung ngoen lan  2013
223496                      Take a Ride  2016
223497                The Butterfly God  2016
223498                  Kiseki no ringo  2013

In [57]:
%time # Same as for titles

cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None, encoding='utf-8') # encoding = 'utf-8' >> F?lix 'El Gato' <<
cast.head(10)

Wall time: 0 ns

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
2,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
3,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
4,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0

In [68]:
print("Cast`s length is " + str(len(cast)))
print("Titles` length is " + str(len(titles)))

Cast`s length is 3475509
Titles` length is 223499

### How many movies are listed in the titles dataframe?

In [62]:
h = titles
moviesNum = h['title'].count() 
print(str(moviesNum) + " movies are listed in the titles DF")

223499 movies are listed in the titles DF

### What are the earliest two films listed in the titles dataframe?

In [98]:
e = h['year']
stats = e.describe()
stats # Stats show the min year value is 1894

count    223499.000000
mean       1985.119423
std          29.331831
min        1894.000000
25%        1966.000000
50%        1994.000000
75%        2010.000000
max        2023.000000
Name: year, dtype: float64

In [99]:
# Double check if 1894 is the min value in year column
checkFilms = h[h.year <= 1894]
checkFilms

            title  year
92075  Miss Jerry  1894

In [114]:
earlyFilms = h[h.year <= 1900].sort_values('year')
earlyFilms

                                                    title  year
92075                                          Miss Jerry  1894
92642      Reproduction of the Corbett and Jeffries Fight  1899
55869                               Soldiers of the Cross  1900
63373   Pierrot's Problem, or How to Make a Fat Wife O...  1900
88019                                Family Troubles (II)  1900
141349                           Trouble in Hogan's Alley  1900

In [106]:
print("The earliest 2 films are: Miss Jerry and Reproduction of the Corbett and Jeffries Fight")

The earliest 2 films are: Miss Jerry and Reproduction of the Corbett and Jeffries Fight

### How many movies have the title "Hamlet"?

In [220]:
t = titles
hamletNum = t[t.title == 'Hamlet'].sort_values('year')
hamletNum.head()

         title  year
144946  Hamlet  1910
147374  Hamlet  1911
191304  Hamlet  1913
169434  Hamlet  1921
38817   Hamlet  1948

In [137]:
print ("'Hamlet' title appears in " + str(hamletNum.title.count()) + " movies")

'Hamlet' title appears in 19 movies

### How many movies are titled "North by Northwest"?

In [140]:
NbN = t[t.title == 'North by Northwest']
NbN # 1 movie only

                     title  year
118574  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [152]:
hamletNum = t[t.title == 'Hamlet'].year.sort_values().head()
hamletNum # First "Hamlet" movie was made in 1910

144946    1910
147374    1911
191304    1913
169434    1921
38817     1948
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [160]:
trIs = t[t.title == 'Treasure Island'].sort_values('year')
trIs # Erlies movie made in 1918 the most recent one in 1999

                  title  year
97695   Treasure Island  1918
75269   Treasure Island  1920
103876  Treasure Island  1934
222971  Treasure Island  1950
2054    Treasure Island  1972
68193   Treasure Island  1973
56361   Treasure Island  1985
164172  Treasure Island  1999

### How many movies were made in the year 1950?

In [403]:
hmMovies = t[t.year == 1950]
hmMovies.head()

                                     title  year
994                       South Sea Sinner  1950
1170                 Le tampon du capiston  1950
1453                               Beqarar  1950
1672                        Atto di accusa  1950
1775                               Aankhen  1950
1887                        Xin cha hua nu  1950
2086             The Jackie Robinson Story  1950
2128                    Sensation im Savoy  1950
2287                                 Katka  1950
2365           La honradez de la cerradura  1950
2783                         Sigillo rosso  1950
3023                           Jan Pahchan  1950
3029                         Tire au flanc  1950
3051        Paramanandayya Shishyula Katha  1950
3555                   What the Butler Saw  1950
3742                  The Astonished Heart  1950
3781                      Buccaneer's Girl  1950
4258                                Zeinab  1950
4630                     The Flying Saucer  1950
4959                       Lockende Gefahr  1950
5001         Mademoiselle Josette ma femme  1950
5100                         Velikaya sila  1950
5437                            Aventurera  1950
5710                  Vendetta en Camargue  1950
6093                   Cronaca di un amore  1950
6228                          Motor Patrol  1950
6298                         Under My Skin  1950
6626                     The Body Said No!  1950
6844    The Misadventures of Buster Keaton  1950
6862                             The Torch  1950
...                                    ...   ...
215477               No Place for Jennifer  1950
216115          Pedro, Pablo, Juan at Jose  1950
216436                      Three Husbands  1950
216451                          Somos Dois  1950
216559                          Dance Hall  1950
216748                      Rookie Fireman  1950
216960                        The Palomino  1950
217324   Faddija - La legge della vendetta  1950
217666                   Please Believe Me  1950
217919                    Der keusche Adam  1950
217977                  Amour et compagnie  1950
218339                     Mata au hi made  1950
218794                         Short Grass  1950
218871                      Rosauro Castro  1950
219311                     Hostile Country  1950
219438                       The Goldbergs  1950
219512                    Watch the Birdie  1950
219583                             Montana  1950
219704                          Bhai Bahen  1950
219943            My Friend Irma Goes West  1950
220577              Crimen en el entreacto  1950
220758                         Lluvia roja  1950
221025                    Vogliamoci bene!  1950
222161                   Paolo e Francesca  1950
222308                               Gemma  1950
222711                      Bayumi effendi  1950
222934                    Surcos de sangre  1950
222971                     Treasure Island  1950
223018                A Ticket to Tomahawk  1950
223163               She Shall Have Murder  1950

[1081 rows x 2 columns]

In [164]:
print (str(hmMovies.year.count()) + " movies were made in 1950")

1081 movies were made in 1950

### How many movies were made in the year 1960?

In [166]:
hmMovies = t[t.year == 1960]
hmMovies.head()

                      title  year
77              Konec cesty  1960
319          Yantok mindoro  1960
331   Tirez sur le pianiste  1960
412  Tarzan the Magnificent  1960
443        Comanche Station  1960

In [167]:
print (str(hmMovies.year.count()) + " movies were made in 1960")

1487 movies were made in 1960

### How many movies were made from 1950 through 1959?

In [179]:
hmMovies = t[(t.year >=1950) & (t.year <= 1959)].sort_values('year')
hmMovies.head()

                               title  year
55209              Morning Departure  1950
15415             47 morto che parla  1950
27668                 Der Wallnerbub  1950
77249                Parmaksiz Salih  1950
15381  Un homme marche dans la ville  1950

In [178]:
print(str(hmMovies.year.count()) + " movies have been made from 1950 through 1959")

12340 movies have been made from 1950 through 1959

### In what years has a movie titled "Batman" been released?

In [182]:
BM = h[h.title == 'Batman'].year
BM

10450    1943
25657    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [222]:
c = cast
inceptRoles = c[c.title == 'Inception']
inceptRoles

,title,year,name,type,character,n
90392,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
137309,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
169823,Inception,2010,Tom Berenger,actor,Browning,8.0
182749,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
240571,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
302890,Inception,2010,Michael Caine,actor,Miles,11.0
309062,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
347611,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
402279,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
412173,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
480456,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
548708,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
635851,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
641960,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
657783,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
659411,Inception,2010,Russ Fega,actor,Cab Driver,23.0
685552,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
751244,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
755216,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
773601,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
774818,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
777538,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
799447,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
846668,Inception,2010,Lukas Haas,actor,Nash,12.0
874933,Inception,2010,Tom Hardy,actor,Eames,4.0
899605,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
936544,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1018921,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1031400,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1041989,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
...,...,...,...,...,...,...
1785277,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1858126,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1903863,Inception,2010,Felix Scott,actor,Businessman,46.0
1975903,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2078719,Inception,2010,Affan Tareen,actor,Denison,NaN
2090080,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2105611,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2234295,Inception,2010,Ken Watanabe,actor,Saito,5.0
2424474,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2560846,Inception,2010,Marion Cotillard,actress,Mal,9.0
2570301,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2588406,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2598309,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2638525,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2711006,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2711014,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2727182,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2820768,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
2904850,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN
2907172,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
2913480,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
2953545,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
2973696,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3079444,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3094056,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3118532,Inception,2010,Ellen Page,actress,Ariadne,3.0
3170102,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3195361,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3201736,Inception,2010,Talulah Riley,actress,Blonde,25.0
3426523,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [225]:
print("The 'Inception' movie had " + str(inceptRoles.character.count()) + " roles")

The 'Inception' movie had 77 roles

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [210]:
notRanked = c[(c.title == 'Inception') & (c.n.isnull())]
notRanked.head()

            title  year                  name   type         character   n
90392   Inception  2010  Michael (III) August  actor     LAX Passenger NaN
182749  Inception  2010              Ken Bhan  actor  Mombasan Gambler NaN
347611  Inception  2010         John Ceallach  actor     LAX Passenger NaN
635851  Inception  2010         Seve Esposito  actor   Italian Gambler NaN
641960  Inception  2010   Marcus (II) Everett  actor      Stock Broker NaN

In [212]:
print (str(len(notRanked.n)) + " roles are NOT ranked by an 'n' value in the movie 'Inception'")

26 roles are NOT ranked by an 'n' value in the movie 'Inception'

### But how many roles in the movie "Inception" did receive an "n" value?

In [214]:
isRanked = c[(c.title == 'Inception') & (c.n.notnull())]
isRanked.head()

            title  year            name   type              character     n
137309  Inception  2010    Peter Basham  actor  Fischer's Jet Captain  44.0
169823  Inception  2010    Tom Berenger  actor               Browning   8.0
240571  Inception  2010  Virgile Bramly  actor         Bridge Sub Con  29.0
302890  Inception  2010   Michael Caine  actor                  Miles  11.0
309062  Inception  2010    Earl Cameron  actor       Elderly Bald Man  20.0

In [216]:
print (str(len(isRanked.n)) + " roles are ranked by an 'n' value in the movie 'Inception'")

51 roles are ranked by an 'n' value in the movie 'Inception'

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [236]:
nbnCast = c[(c.title == 'North by Northwest') & (c.n.notnull())].sort_values('n')
nbnCast

,title,year,name,type,character,n
810109,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3235971,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1354180,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2911919,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
330827,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2815263,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1576006,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1184592,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2272380,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1683543,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
618775,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2131821,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
431247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1402205,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
190611,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1286691,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [241]:
slthCast = c[(c.title == 'Sleuth')].sort_values('n')
slthCast

,title,year,name,type,character,n
302919,Sleuth,2007,Michael Caine,actor,Andrew,1.0
1585272,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
302918,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1201800,Sleuth,2007,Jude Law,actor,Milo,2.0
346900,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1678498,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
1361812,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2523593,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1346399,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
240674,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
346901,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
2523592,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
3103659,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [280]:
slthCast = c[(c.title == 'Sleuth') & (c.year == 2007)].sort_values('n')
slthCast

          title  year                 name     type          character    n
302919   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1201800  Sleuth  2007             Jude Law    actor               Milo  2.0
1678498  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
240674   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
346901   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2523592  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3103659  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [246]:
svHamlet = c[(c.title == 'Hamlet') & (c.year == 1921)]
svHamlet

          title  year                    name     type         character    n
7069     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
425739   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
515787   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1055856  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2029909  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2205892  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2469378  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2827406  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3089912  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

### How many roles were credited in Branagh’s 1996 Hamlet?

In [253]:
brHamlet = c[(c.title == 'Hamlet') & (c.year == 1996) & (c.name.str.endswith('Branagh'))]
brHamlet # not sure if I understood it correct

         title  year             name   type character    n
240659  Hamlet  1996  Kenneth Branagh  actor    Hamlet  5.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [257]:
hRoles = c[c.character == 'Hamlet'].count()
hRoles

title        88
year         88
name         88
type         88
character    88
n            54
dtype: int64

### How many people have played an "Ophelia"?

In [322]:
ophNum = c[c.character == 'Ophelia']
ophNum.count()

title        103
year         103
name         103
type         103
character    103
n             55
dtype: int64

In [324]:
ophNum.name.value_counts().head()

Vanessa Leonard         2
Louise Beavers          2
Jennifer Lynn Warren    1
Holiday Hadley          1
Paulina V. Ahlstrom     1
Name: name, dtype: int64

In [325]:
ophNum.name.value_counts().count()

101

### How many people have played a role called "The Dude"?

In [328]:
theDude = c[c.character == 'The Dude']
theDude.name.value_counts()

Joel Weiss             1
Steve Lyons            1
Christopher Kadish     1
Mike Donlin            1
Jeff Bridges           1
Matthew (XIX) James    1
Jordan Cann            1
Devin The Dude         1
Chris DeMarcus         1
Jerry Miley            1
Scott Crowell          1
Bobby Styles           1
House Peters Jr.       1
Mark Alan Meek         1
Dick Van Patten        1
Jason Priestley        1
Jason Loughridge       1
Name: name, dtype: int64

In [319]:
theDude.count()

title        17
year         17
name         17
type         17
character    17
n            11
dtype: int64

### How many people have played a role called "The Stranger"?

In [315]:
theStr = c[c.character == 'The Stranger']
theStr
print("'The Starnger' character appears " + str(theStr.character.count()) + " times")
freqCount = theStr.name.value_counts()
print(str(freqCount.count()) + " people played 'The Starnger' role")

'The Starnger' character appears 206 times
194 people played 'The Starnger' role

### How many roles has Sidney Poitier played throughout his career?

In [329]:
sPoi = c[c.name == "Sidney Poitier"]
sPoi.head()

,title,year,name,type,character,n
1688057,A Patch of Blue,1965,Sidney Poitier,actor,Gordon Ralfe,1.0
1688058,A Piece of the Action,1977,Sidney Poitier,actor,Manny Durrell,1.0
1688059,A Raisin in the Sun,1961,Sidney Poitier,actor,Walter Lee Younger,1.0
1688060,A Warm December,1973,Sidney Poitier,actor,Dr. Matt Younger,1.0
1688061,All the Young Men,1960,Sidney Poitier,actor,Sgt. Eddie Towler,2.0

In [336]:
sPoi.character.value_counts().head()

Virgil Tibbs                          3
FBI Deputy Director Carter Preston    1
Alan Newell                           1
Ben Munceford                         1
Inman Jackson                         1
Name: character, dtype: int64

In [333]:
sPoi.character.value_counts().count()

41

### How many roles has Judi Dench played?

In [337]:
jDen = c[c.name == "Judi Dench"]
jDen.head()

,title,year,name,type,character,n
2604426,84 Charing Cross Road,1987,Judi Dench,actress,Nora Doel,3.0
2604427,A Handful of Dust,1988,Judi Dench,actress,Mrs. Beaver,13.0
2604428,A Midsummer Night's Dream,1968,Judi Dench,actress,Titania,16.0
2604429,A Room with a View,1985,Judi Dench,actress,"Eleanor Lavish, a novelist",7.0
2604430,A Study in Terror,1965,Judi Dench,actress,Sally,8.0

In [338]:
jDen.character.value_counts().head()

M                    8
Evelyn Greenslade    2
Mrs. Beaver          1
Armande Voizin       1
Barbara Covett       1
Name: character, dtype: int64

In [339]:
jDen.character.value_counts().count()

45

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [348]:
cGr = c[(c.name == 'Cary Grant') & (c.year >= 1940) & (c.year <=1949) & (c.n == 2)].sort_values('year')
cGr

                   title  year        name   type    character    n
810106  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
810116    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [361]:
cGr = c[(c.name == 'Cary Grant') & (c.year >= 1940) & (c.year <=1949)  ].sort_values('year')
cGr.head() # not sure about how to distinguish leading roles

,title,year,name,type,character,n
810133,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
810131,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
810088,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
810106,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
810121,Suspicion,1941,Cary Grant,actor,Johnnie,1.0

### How many roles were available for actors in the 1950s?

In [352]:
rAvail = c[(c.year >= 1950) & (c.year <= 1959) & (c.type == 'actor')]
rAvail.head()

,title,year,name,type,character,n
58,Fire Down Below,1957,'Stretch' Cox Troupe,actor,Limbo Dance by,20.0
60,Dorp aan de rivier,1958,Frans 't Hoen,actor,Dirk Jan,15.0
110,Die Todesarena,1953,Die 3 Motorellos,actor,Themselves,NaN
242,Palletoori Pilla,1950,Subba Rao A.V.,actor,Kampanna Dora,4.0
243,Sri Kalahastiswara Mahatyam,1954,Subba Rao A.V.,actor,Basavareddy,12.0

In [355]:
rAvail.character.value_counts().head() # role types

Townsman      1804
Minor Role    1281
Extra          913
Reporter       688
Barfly         669
Name: character, dtype: int64

In [362]:
rAvail.character.count()

152504

### How many roles were avilable for actresses in the 1950s?

In [364]:
rAvail = c[(c.year >= 1950) & (c.year <= 1959) & (c.type == 'actress')]
rAvail.head()

,title,year,name,type,character,n
2351541,A Woman of Distinction,1950,Lucienne & Ashour,actress,Apache Dancers,NaN
2351543,Chain Lightning,1950,Lucienne & Ashour,actress,Apache Dancers,NaN
2351548,De moedige bruidegom,1952,Hilda 't Seyen,actress,De moeder van Tinneke,NaN
2351575,Cuban Rebel Girls,1959,Beverly Aadland,actress,Beverly Woods,2.0
2351576,Death of a Salesman,1951,Beverly Aadland,actress,Girl,NaN

In [365]:
rAvail.character.value_counts().head() # role types

Minor Role    627
Extra         534
Dancer        373
Nurse         343
Girl          307
Name: character, dtype: int64

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [371]:
leadRoles = c[(c.year <= 1980) & (c.n == 1)].sort_values('year')
leadRoles.head()

,title,year,name,type,character,n
738981,The Joe Gans-Battling Nelson Fight,1906,Joe Gans,actor,Himself,1.0
1182216,Lika mot lika,1906,Knut Lambert,actor,Coq-H?ron,1.0
3339816,The Story of the Kelly Gang,1906,Elizabeth Tait,actress,Kate Kelly,1.0
761091,Robbery Under Arms,1907,Jim Gerald,actor,Warrigal,1.0
142455,The Fairylogue and Radio-Plays,1908,L. Frank Baum,actor,The Wizard of Oz Man,1.0

In [375]:
leadRoles.character.value_counts().head() # role types

Himself       133
Anna           94
Gene Autry     83
Maria          78
Narrator       77
Name: character, dtype: int64

In [376]:
leadRoles.character.count()

62893

### How many non-leading roles were available through from the beginning of film history through 1980?

In [377]:
leadRoles = c[(c.year <= 1980) & (c.n > 1)].sort_values('year')
leadRoles.head()

,title,year,name,type,character,n
1530413,The Joe Gans-Battling Nelson Fight,1906,Battling Nelson,actor,Himself,2.0
2909823,Lika mot lika,1906,Helfrid Lambert,actress,Suzanne,2.0
2069188,The Story of the Kelly Gang,1906,John Tait,actor,School Master,2.0
3469273,Lika mot lika,1906,Tollie Zellman,actress,"Clara, kammarjungfru",3.0
833771,Robbery Under Arms,1907,Arthur Guest,actor,Curate,5.0

In [380]:
leadRoles.character.count()

647630

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [400]:
minorRoles = c[(c.year <= 1980)].sort_values('year')
countMinor = minorRoles[minorRoles.n.isnull()]
countMinor

,title,year,name,type,character,n
447750,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN
2422869,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
535668,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN
1656217,Soldiers of the Cross,1900,Orrie Perry,actor,Lion,NaN
1656368,Soldiers of the Cross,1900,Reg Perry,actor,Lion,NaN
579160,Valsons,1905,Armand Dranem,actor,Himself,NaN
457881,The Story of the Kelly Gang,1906,Sam Crewes,actor,Dan Kelly,NaN
2069179,The Story of the Kelly Gang,1906,Frank Tait,actor,Extra,NaN
2069178,The Story of the Kelly Gang,1906,E.J. Tait,actor,Extra,NaN
1393719,The Story of the Kelly Gang,1906,Mr. McKenzie,actor,Steve Hart,NaN
451721,The Story of the Kelly Gang,1906,Will Coyne,actor,Joe Byrne,NaN
628644,The Story of the Kelly Gang,1906,Jack (II) Ennis,actor,Steve Hart,NaN
1440134,The Story of the Kelly Gang,1906,Frank (VI) Mills,actor,Ned Kelly,NaN
696257,The Story of the Kelly Gang,1906,John (III) Forde,actor,Dan Kelly,NaN
1341290,The Story of the Kelly Gang,1906,Mr. Marshall,actor,Dan Kelly,NaN
311775,The Story of the Kelly Gang,1906,Norman (II) Campbell,actor,Steve Hart,NaN
3082285,Amleto,1908,Fernanda Negri Pouget,actress,Ofelia,NaN
773217,The Fairylogue and Radio-Plays,1908,William (IV) Gillespie,actor,Tip,NaN
1530411,Gans-Nelson Fight,1908,Battling Nelson,actor,Himself,NaN
738980,Gans-Nelson Fight,1908,Joe Gans,actor,Himself,NaN
2932607,The Fairylogue and Radio-Plays,1908,Delilah Leitzell,actress,Ozma,NaN
2746531,Os Guaranis,1908,Inez Grizeta,actress,Ceci,NaN
1583855,Os Guaranis,1908,Benjamin Oliveira,actor,Peri,NaN
287521,World's Heavyweight Championship Between Tommy...,1909,Tommy (IV) Burns,actor,Himself,NaN
1036384,World's Heavyweight Championship Between Tommy...,1909,Jack (VIII) Johnson,actor,Himself,NaN
727410,Kapergasten,1910,Aage F?nss,actor,Landsforr?der,NaN
727404,Ansigttyven I,1910,Aage F?nss,actor,R?ret,NaN
1696787,En rekrut fra 64,1910,Vilhelm Poss-Nielsen,actor,Farmer,NaN
2613202,Den hvide slavehandel,1910,Ellen Diedrich,actress,Anna,NaN
1827673,The Squatter's Daughter,1910,C. Rossmore,actor,Member of Ben Hall's Gang,NaN
...,...,...,...,...,...,...
2752352,Taynoe golosovanie,1980,Liliya Gurova,actress,Polina,NaN
604814,Bronco Billy,1980,Kyle Eastwood,actor,Orphan,NaN
1078015,Climax! okasareru hanayome,1980,Daiki Kato,actor,Kenji Kataoka,NaN
3105688,Kairaku gakuen: kinjirareta asobi,1980,Asami Ogawa,actress,Maria,NaN
2151415,Za spichkami,1980,Yrj? T?htel?,actor,Poliisip??llikk?,NaN
1078086,O Convite ao Prazer,1980,Sergio Kato,actor,Castilho,NaN
1747481,Vrijdag,1980,Roger Raveel,actor,Bijtebier,NaN
425522,The Mirror Crack'd,1980,Les Conrad,actor,Party Guest,NaN
1617089,Gefsi apo... Ellada!,1980,Georgios Papadopoulos,actor,Himself,NaN
445240,Apocalypse domani,1980,Paul Costello,actor,Newscaster,NaN
1330427,Voltati Eugenio,1980,Saverio Marconi,actor,Giancarlo,NaN
2969197,Nedtur,1980,Unni L?we,actress,Kim,NaN
1857002,Lastu Shaytanan Wala Malakan,1980,Ahmed Salama,actor,Kawthar's Brother,NaN
2797486,Airplane!,1980,Leslie Hoffman,actress,Passenger in Terminal,NaN
2797488,The Nude Bomb,1980,Leslie Hoffman,actress,Hospital Patient,NaN
2318004,Pray TV,1980,Dick Yarmy,actor,Dr. Ben Gay,NaN
3044577,Times Square,1980,Sharon Mitchell,actress,Audience Member in Nightclub,NaN
1747466,Salto nel vuoto,1980,Mario Ravas,actor,Brother of Suicide,NaN
2969422,Shanhu dao shang de shi guang,1980,Junqin Ma,actress,Meng Na,NaN
1616935,Thomas Hearns vs. Pipino Cuevas,1980,Harry Papacaralambolous,actor,Himself - Referee,NaN
977879,Heaven's Gate,1980,Lincoln Hurst,actor,Harvard Undergraduate,NaN
1278277,Bad Timing,1980,Carl Lawrence Ludwig,actor,Young Czech Lover,NaN
1278306,Johann Sebastian Bachs vergebliche Reise in de...,1980,Fred Ludwig,actor,Wunderdoktor,NaN
2969388,Han jian gu xing duan chang hua,1980,Chia-hua Ma,actress,Ah-Chen,NaN
1951271,The Baltimore Bullet,1980,Michael Sigel,actor,Himself - Pool Player,NaN
1616892,Cannibal Holocaust,1980,Enrico Papa,actor,Pantheon Interviewer,NaN
2573331,Luda kuca,1980,Antonia Cutic,actress,Ankica,NaN
1857110,Lion of the Desert,1980,Amedeo Salamon,actor,Man watching the trail,NaN
2046606,Jazbaat,1980,Subbiraj,actor,Ram Mohan,NaN
1857100,Il bandito dagli occhi azzurri,1980,Amedeo Salamon,actor,Passerby,NaN

In [402]:
countMinor.count()

title        431053
year         431053
name         431053
type         431053
character    431053
n                 0
dtype: int64