In [28]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import scipy as spy
import seaborn as sns

In [31]:
stores = pd.read_csv('Data/stores.csv')
print (len(stores))

45

In [20]:
stores.tail()

    Store Type    Size
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [18]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [ ]:
plt.hist(stores.Size, bins=5, alpha=0.5, histtype='stepfilled')

In [ ]:
sns.boxplot(stores.Size.dropna())

In [3]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s1

NameError: name 'pd' is not defined